@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        --color-primary: #f2f2f2;
        --color-primary-content: #2b3440;
        --color-base-100: #ffffff;
        --color-base-200: #f1f1f1;
        --color-accent: #00d3be;
        --color-typography: black;
        --color-gradient: linear-gradient(90deg, #00000000 85%, #ffffff 99%, #ffffff 100%);
    }

    html[data-theme="dark"] {
        --color-primary: #191e24;
        --color-primary-content: #eeeeee;
        --color-base-100: #191e24;
        --color-base-200: #12171d;
        --color-accent: #00cab6;
        --color-typography: white;
        --color-gradient: linear-gradient(90deg, #00000000 85%, #191e24 99%, #191e24 100%)
    }

    html[data-theme="cupcake"] {
        --color-primary: #efeae6;
        --color-primary-content: #030303;
        --color-base-100: #faf7f5;
        --color-base-200: #efeae6;
        --color-accent: #eeaf3a;
        --color-typography: #030303;
        --color-gradient: linear-gradient(90deg, #00000000 85%, #faf7f5 99%, #faf7f5 100%);
    }

    html[data-theme="aqua"] {
        --color-primary: #09ecf3;
        --color-primary-content: #d4deef;
        --color-base-100: #345da7;
        --color-base-200: #2e5497;
        --color-accent: #ff6f98;
        --color-typography: #D4DEEF;
        --color-gradient: linear-gradient(90deg, #00000000 85%, #345da7 99%, #345da7 100%);
    }
}

html {
    scroll-behavior: smooth;
}

@layer utilities {
    @keyframes rotateGradient {
        to {
            transform: rotate(360deg);
        }
    }

    .animate-rotate-gradient {
        animation: rotateGradient 5s linear infinite;
    }
}

@keyframes growline {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.growline-animation {
    animation: growline 3s forwards;
}

.appear-animation {
    animation: fadeIn 1s;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
}